node_modules

# Mobile folder files to exclude from GitHub
mobile/.gitignore
mobile/README.md
mobile/eslint.config.js
mobile/tsconfig.json

# Backend folder files to exclude from GitHub
backend/.gitignore
